<!DOCTYPE html>
<html>
<head>
    <title>Варианты расписаний</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p><a href="/schedule/organizations/{{organization}}/schedule?type=Group">Для студентов</a></p>
    <p><a href="/schedule/organizations/{{organization}}/schedule?type=Teacher">Для преподавателей</a></p>
</body>
</html>