<!DOCTYPE html>
<html>
<head>
    <title>Организации</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>ВУЗы</h1>
    <p>Сайт выполняет конвертацию расписаний из приложения <a href="https://campusapp.me/">Кампус</a> в формат ical для импорта в календарь.</p>
    {{#each cities}}
        <h2>{{this.name}}</h2>
        {{#each this.organizations}}
            <p><a href="/schedule/organizations/{{this._id}}">{{this.name}}</a></p>
        {{/each}}
    {{/each}}
</body>
</html>